/* src/css/animations.css */
@keyframes pulseSuccess {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 6px var(--success-color);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 6px 8px var(--success-color);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 6px var(--success-color);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}